@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.card{
    padding: em(10) em(20);
    @include border-radius(9px);
    box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.08);
    background-color: $clr-white;
    position: absolute;
    @include flex-center;
    flex-direction: column;
    @include breakpoint-sm{
        padding: em(14) em(30);
    }
}
