@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.header{
    position: fixed;
    top:0;
    width: 100%;
    padding-block:em(16);
    background: transparent;
    @include transition(all, 0.35s, ease-in-out);
    z-index: 5;
    &.sticky{
        background-color: $clr-primary;
        box-shadow: 0 2px 5px rgba(0,0,0,0.35);
        padding-block:em(10);
        @include transition(all, 0.35s , ease-out);
        animation:move-down 0.45s ease-in;
        @include keyframes(move-down){
            0%{
                transform: translateY(-100%);
                opacity: 0;
            }
            100%{
                transform: translateY(0);
                opacity: 1;
            }

        }
        .header__wrapper{
            border:none;
        }
    }
    &__wrapper{
        width: 100%;
        @include flex-center-vertical;
        justify-content: space-between;
        border-bottom: 0.5px solid $clr-white;
    }

    &__navbar{
        width: 100%;
        display: none;
        opacity: 0;
        visibility: hidden;
        gap:rem(32);
        @include breakpoint-lg{
            @include flex-center-vertical;
            justify-content: flex-end;
            gap:rem(38);
            opacity: 1;
            visibility: visible;
        }
        @include breakpoint-xl{
            gap:14rem;
        }
    }
    &__submenu{
        position: absolute;
        left: 0;
        top: 103%;
        width: rem(480);
        background: $clr-primary;
        padding-top: 0;
        z-index: 99999;
        display: flex;
        flex-direction: column;
        @include border-radius(4px);
        margin-top: rem(15);
        box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 1px 0px;
        @include transition(all, 0.3s, ease-in-out);
        visibility: hidden;
        opacity: 0;
        &--heading{
            &::after{
                @include caret-down;
                border-top: .35rem solid $clr-white;
                right: -1rem;
                top: 45%;
            }
            &:hover{
                &::after{
                    border-top-color:$clr-secondary;
                }
            }
            &-mobile{
                @include flex-center-vertical;
                justify-content: space-between;
                &::after{
                    content:"+";
                }
                &.oepn{
                    content:"-";
                }
                &:hover{
                    cursor: pointer;
                    color:$clr-secondary;
                }
            }
        }
        &--item{
            color:$clr-white;
            border-bottom: 1px solid $clr-white;
            padding: em(6) em(10);
            &:hover{
                cursor: pointer;
                background: $clr-secondary;
            }
            &-mobile{
                border-bottom: 1px solid $clr-white;
                padding-block:em(10);
                &:first-child{
                    margin-top: rem(14);
                    border-top: 1px solid $clr-white;
                }
                &:last-child{
                    border-bottom: none;
                }
            }
        }
        &--link, &--link-mobile{
            color:$clr-white; 
            font-size: rem(16);
            @include transition(all, 0.35s, ease);
            @include breakpoint-lg{
                font-size: rem(18);
            }
        }
        &--link-mobile{
            &:hover{
                color: $clr-secondary;
            }
        }
        &--mobile{
            padding-left:em(10);
        }
    }
    &__navLink{
        color:$clr-white;
        font-size: rem(18);
        &:hover{
            color:$clr-secondary;
        }
        &.active{
            color:$clr-secondary;
        }
    }
    &__mobile{
        position: fixed;
        top: 0;
        z-index: 99;
        @include dimensions(75%, 100vh);
        padding-block:em(16);
        background: $clr-primary;
        color: $clr-white;
        opacity: 0;
        visibility: hidden;
        left: -100%;
        @include transition(left, 0.5s, ease-in-out);
        @include breakpoint-md{
            width: 50%;
        }
        @include breakpoint-lg{
            display: none;
        }
        &.open{
            overflow: hidden;
            opacity: 1;
            visibility: visible;
            @include transition(left, 0.5s, ease-in-out);
            left: 0;
        }
        &-list{
            @include flex-cloumn;
            margin-top:rem(32);
            @include breakpoint-md{
                margin-top:rem(48);
            }
        }
        &-item{
            padding-block: em(20) em(8);
            border-bottom: 1.2px solid $clr-white;
            @include transition(all, 0.35s, ease-out);
            &:hover{
                border-color: $clr-secondary;
                .header__mobile-link{
                    color: $clr-secondary
                }
            }
        }
        &-link{
            color: $clr-white;
            font-size: rem(18);
        }
    }
    &__logo{
        img{
            max-width: rem(200);
            @include breakpoint-lg{
                max-width: 100%;
            }
        }
    }
    .btn-wrapper{
        display: none;
        @include breakpoint-lg{
            display: block;
        }
    }
}

.overlay{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    @include breakpoint-lg{
        display: none;
    }
    &.active{
        opacity: 1;
        visibility: visible;
    }
}

.hamburgur{
    .menu-line{
        @include dimensions(rem(32),rem(3));
        background: $clr-white;
        display: block;
        margin-bottom: 5px;
        &:last-child{
            width: 24px;
        } 
    }
    &--mobile{
        display: block;
        @include breakpoint-lg{
            display: none;
        }
    }
    &:hover{
        cursor: pointer;
    }
}