$clr-primary:#000;
$clr-secondary:#c8102e;
$clr-tertiary:#f9f9f9;


$clr-white:#fff;
$clr-white-90:#f4f4f4;
$clr-white-75:#fefefe;
$clr-dark:#000;
$clr-dark-1:#2e2e2e;

$clr-grey:#707070;
$clr-grey-light-1: #a1a1a1;
$clr-grey-light-2:#a2a2a2;
$clr-grey-light-3:#c8c8c8;
$clr-grey-light-4:#aeaeae;
$clr-grey-light-5:#b5b5b5;
