@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


//?--------- Hero Styles Start ---------
.hero{
    background-image: radial-gradient(circle at 82% 57%, #515151, $clr-primary 56%);
    position: relative;
    &__stat-title{
        color:$clr-grey-light-5;
        font-size: rem(16);
        line-height: 2;
    }
    &__stat{
        h3, p{
            color:$clr-white;
        }
        p{
            font-size: rem(16);
            line-height: 1.25;
            margin-top: 0;
        }
    }
    &__right{
        display: flex;
        align-items: flex-end;
        @media only screen and (max-width:992px) and (min-width:1400px) {
            position: absolute;
            bottom: 0;
            img{
                position: relative;
                left: -100px;
            }
        }
    }
    &__wrapper{
        background-image: url("../assets/images/home/arrowfish-a.svg");
        background-repeat: no-repeat;
        background-position: 115% bottom;
        background-size: contain;
        @include breakpoint-lg{
            background-size:auto;
        }
        @include breakpoint-xxl{
            background-position: 100% bottom;
        }
    }
}

.marquee-container{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    img{
        mix-blend-mode: exclusion;
        white-space:nowrap;
        animation:move-text 16s linear infinite ;
        -webkit-animation:move-text 16s linear infinite ;
        @keyframes move-text{
            0%{
                transform:translateX(-100%);
            }
            100%{
                transform:translateX(0%);
            }
        }
    }
}

.business-value{
    figure{
        position: relative;
    }
    &__bottom{
        p{
            font-size: rem(16);
            line-height: 1.78;
            @include breakpoint-md{
                font-size: rem(18);
            }
        }
    }
}

.experiences-box{
    @include dimensions( rem(120), rem(120));
    border: 2px solid $clr-white;
    background-color: $clr-primary;
    @include flex-center;
    flex-direction: column;
    @include border-radius(50%);
    position: absolute;
    top: 70%;
    left: 0px;
    @include breakpoint-sm{
        @include dimensions( rem(140), rem(140));
        left: -20px;
    }
    @include breakpoint-md{
        @include dimensions( rem(160), rem(160));
        left: -30px;
    }
    @include breakpoint-lg{
        @include dimensions( rem(180), rem(180));
    }
    h1, p{
        color:$clr-white;
        text-align: center;
    }
    p{
        font-size: rem(14);
        line-height: 1.25;
        text-transform: capitalize;
        @include breakpoint-md{
            font-size: rem(16);
        }
    }
}

.about-owner{
    background-image: radial-gradient(circle at 82% 57%, #515151, $clr-primary 58%);
    h4{
        text-transform: lowercase !important;
        span{
            text-transform:capitalize;
        }
    }
    h4, p, small{
        color:$clr-white;
    }
    &--experience{
        background: $clr-secondary;
        top: 62%;
        left: -10px;
    }
}

.steps{
    &__swiperContainer{
        padding-left: em(16);
        @include breakpoint-sm{
            padding-left: em(64);
        }
        @include breakpoint-xxl{
            padding-left: em(96);
        }
    }
    .step-card{
        height: rem(280);
        padding-inline:em(16);
        padding-block: em(74) em(40);
        @include border-radius(16px);
        border:1px solid $clr-grey;
        background-color: $clr-white;
        position: relative;
        &::before{
            content:"";
            position: absolute;
            top:50%;
            left: 32px;
            height: 1px;
            width: 100%;
            background:linear-gradient(to right, #303030 1px, transparent 1px);
            background-size: 3px 1px; /* Set the size of each dot */
            background-repeat: repeat-x; /* Repeat the dots horizontally */
            z-index: -1;
        }
        .icon-box{
            max-width: 90px;
            height: 90px;
            padding: 25px;
            background-color: $clr-secondary;
            @include border-radius(50%);
            position: absolute;
            top:-40px;
        }
        p{
            font-size: rem(16);
            line-height: 1.75;
        }
    }
}

.testimonials{
    background-color: $clr-primary;
    &__card{
        padding:em(16);
        background-color: $clr-dark-1;
        text-align:left;
        @include breakpoint-md{
            padding:em(24);
        }
        h6, p{
            color:$clr-white;
        }
        .stars-img{
            margin-left: -10px;
        }
        .card-content{
            h6{
                font-weight: 400 !important;
                line-height: 1.33 !important;
                text-transform:lowercase;
                &::first-letter{
                    text-transform: uppercase;
                }
            }
            p{
                font-size: rem(16);
                line-height: 1.75;
            }     
        }
        .card-footer{
            figure{
                @include flex-center-vertical;
                flex-wrap: wrap;
                gap:rem(16);
                h6{
                    font-size: rem(20);
                }
                p{
                    font-size: rem(16);
                    line-height: 1.25;
                }
            }
        }
    }
    


    figcaption{
        small{
            margin-top: 0;
            color: #b5b5b5;
        }
    }
}

.services{
    background: $clr-tertiary;
    .service-card{
        padding: em(18);
        box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.12);
        background-color: $clr-white;
        border:2px solid $clr-white;
        @include transition(all, 0.35s, ease-in-out);
        @include breakpoint-xl{
            padding: em(24); 
        }
        &:hover{
            cursor: pointer;
            background-color: $clr-secondary;
            h5{
                color:$clr-white;
            }
            svg {
                path{
                    fill:$clr-white;
                }
            }
        }
    }
}

.cta{
    background-image: radial-gradient(circle at 82% 57%, #515151, $clr-primary  57%);
    &__figure{
        @include flex-center-vertical;
        flex-wrap: wrap;
        figcaption{
            small{
                display: flex;
                font-size: 1rem;
                line-height: 1.75;
                color:$clr-tertiary;
            }
        }
    }
    .about-owner--experience{
        top: 68%;
    }
}

// Connect-with us
.connect-with-us{
    background: $clr-tertiary;
    padding-block: em(64);
    @include breakpoint-lg{
        padding-block: em(106);
    }
    figure{
        @include dimensions(rem(80), rem(80));
        padding: 21px;
        background-color: $clr-secondary;
        @include flex-center;
        @include border-radius(50%);
    }
    &__btn{
        font-size: rem(18);
        line-height: 1.78;
        font-weight: 800;
        color:$clr-secondary;
        @include flex-center-vertical;
        margin-top: rem(8);
        width: 50%;
        @include transition(transform, 0.35s, ease-out);
        @include breakpoint-sm{
            margin-top: rem(16);
        }
        @include breakpoint-md{
            margin-top: rem(24);
        }
        &:hover{
            transform: translateX(10px);
        }
    }
}